In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('data/NFLX.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [3]:
X = df.drop(['Volume', 'Date'], axis=1)
Y = df['Volume']

In [4]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=25, shuffle=True)

In [5]:
regressor = LinearRegression()

In [6]:
regressor.fit(x_train, y_train)

LinearRegression()

In [7]:
regressor.score(x_test, y_test)

0.41779347313107296

In [8]:
predicted = regressor.predict(x_test)

In [9]:
print(predicted)

[ 9731823.07196876 10922100.06386179 16799175.97372359  4032967.24439504
  7615370.48676158 15410659.8976934   5264703.07712889  3562889.59547525
  7587294.89263401  3234059.97863805  6913983.35563329  3239116.57431629
  7546092.16998485  6665956.64395544 12629515.11689724  7187584.43973126
  9830860.06852773 10217753.61253877  9704707.45947811  6054121.43121812
 13030915.19858005 15459365.69572591  6659956.3821686   5896891.95655716
  4366522.12739681  6347923.45691302 13814598.79323511  9536347.60564791
  5303513.88706445  6801394.19090807 10277316.01557393 11363094.36711995
 10758864.84907792  9190241.63422048  1353223.02221786  9989583.12707812
  8785822.41781136  8126847.80923335  6419846.17427012  5908653.58955378
  5983355.19680667  7316456.31732222 11824882.25067902  7229382.6707525
  7768540.28085063  5791299.53127633  2850611.555886    6637893.42448703
  3686123.18255188 11027420.06616978  6382621.29569057 11206597.85264186
  7175189.74249865  7692794.39374197  6748276.6984128   8325151.4538055
 11370944.73679774  8833721.55517294  9784251.37098196 13979036.84113407
  6810809.0830396  10054972.19708745  5545967.42980849  5345247.37350935
  6718203.01195917 16928975.30178038  9039191.17082972  7295665.72247231
  3689964.71143574  8168648.056696   14708043.74723793  5993689.0066787
  9608020.39115074  2621666.33593502 13118293.02705223  4672968.96649845
  4252680.98818285  8162652.91370409  6724614.54423076  9442562.67201082
  9854853.78793553  6837858.41883077  9963791.0179015  15772830.58420314
 13871145.74915648  2934339.28404771  3757846.68252601  2353478.83740263
  9950595.39597217  8179874.11276351  2530527.63071726  3917569.21809164
  3210118.86648811  7128303.78124418 13394525.80990341  7708817.93919943
  4240586.20406237 10167849.10439437  9126381.42427965 13220486.84129471
  4576558.78321821  6572032.67857153  5311833.829456    1506862.80206658
  3344553.92686224 10967279.84433264  8931169.42160196  7610218.04967459
 13611457.44830713   489945.59208938 10520061.55531384  7974892.09299267
  6020940.47186719  3464748.37589983  9164843.72205812  5393805.49390764
  7396930.08879447  1434971.57508063  2729046.04308004  8374057.98483113
  9039096.0454973   9070765.19958731  8664948.28023553  5268785.73710816
  4685104.83472871  4096403.99159346  6253992.97687598  9580830.68201313
 10589163.48337628  7556998.67310079  1384219.05738693  7899907.90108902
  5696156.42982221  3547172.47771134  7490709.54345297  4512680.39732872
  7422597.88217018  1371880.21821329  4996490.66077909  6231250.62916958
  4089730.22922125  9142857.03712576 15749564.93914695  8526850.78581098
  8238352.49049146 10331889.53303277  3059130.75660491  4538195.64467603
 10920320.60052828  7969718.35145167  3850284.64254493 16528663.88362548
  2616819.606813    6165148.76153405  1276984.10563109 12720973.31302352
  7363371.52204617 10103447.43160236  4061685.92796719  8019483.70194846
  8494353.60319085  7326834.3849675  12487128.24260352  6400743.91498537
  7813323.38068416  8099154.18280014 14504908.5683612   5948853.37951084
 12828907.1216788   2336715.88839162  5950558.3709002  11399759.84996982
  4081402.96564771  2476831.97864848  5447487.09060766   929981.23807228
 20715391.65350184  3984339.21780894  3345235.21389104  7648287.05293917
  9430241.86769222  5297711.11990959  6939528.55804985  7529504.15629633
  9846156.25133621  5084516.77872494 11949289.67038456  5978647.67606274
  5521516.75716226  8261625.15628718  7764811.55472122  9107302.42100431
  6300559.58003351 10673211.07746067 18674161.33073828  7527771.63376566
 10035243.5095891   9567631.75169251  9296171.13717407 10962264.41913505
  9258114.61937475  3045366.13491018  5951125.97507335 15986573.637779
  6221186.74351452  9632831.08951509 10875971.92090093  8375271.57858735
  6031187.01973116  3281837.4710377   9450559.62720959  5756514.96162704
  9866412.77622784  6279815.02417824  8751705.30130429  1962473.81194504
 11157273.02978681 11112299.33932731   211290.0759866   8263461.95006227
  4393685.30956245  7299532.62906793 10982387.30296409  8289233.04253112
  5241461.8849335   7760885.65008524  2469408.89696651 11247407.25254634
 10644400.802713    9810554.17502536 10212680.3079685   6695085.20313559
 12821207.11375638  4767223.81591465  7424921.15220377 12289962.14486775
  4021490.72512378 10169351.88988287  4446041.71818475  4669900.67982918
  3413817.32773627 10439734.75927616 11305356.21487122  7162086.71730044
  6316954.70519737 11061904.97055486  7925511.56935454  8969962.02941216
  8631346.89329437  4208692.3008972   8916513.54535209  4292199.44442628
  5328624.5215537 ]

In [11]:
df2 = pd.DataFrame({'Actual': y_test.values.flatten(), 'Predicted' : predicted.flatten()})

In [12]:
df2.head()

     Actual     Predicted
0  10429400  9.731823e+06
1  33866500  1.092210e+07
2  14402700  1.679918e+07
3   3887400  4.032967e+06
4   5667200  7.615370e+06